:root {
    --color1: #1B1F1C;
    --color2: #21202E;
    --color3: #252620;
    --color4: #3B271C;
    --color5: #1F2F25;
    --color6: #4B2C20;
    --color7: #582f0e;
    --color8: #333d29;
    --color9: #5D3D2B;
    --color10: #414833;
    --color11: #903D28;
    --color12: #5A4D45;
    --color13: #7f4f24;
    --color14: #6B5C54;
    --color15: #696158;
    --color16: #6A6650;
    --color17: #656d4a;
    --color18: #6F6B58;
    --color19: #936639;
    --color20: #786B63;
    --color21: #926756;
    --color22: #A46536;
    --color23: #80705B;
    --color24: #7E7365;
    --color25: #B8743C;
    --color26: #948A77;
    --color27: #a68a64;
    --color28: #A89CA9;
    --color29: #a4ac86;
    --color30: #b6ad90;
    --color31: #c2c5aa;
    --color32: #E5DED4;
    --color33: #E0DDEE;
    --color34: #E9E6E9;
    --color35: #F9F8F8;
}
